body {
	/* background-color: #392b86; */
	font-family: 'Cabin', sans-serif;
	margin: 1px;
	padding: 0;
	border: 0;
  }

  
    /* TAMAÑO LOGO MENU */
    .svg {
      width: 30px;
      height: 30px;
      background: none;
  
  }
   /* TAMAÑO LOGO MENU */

     /* Fondo de menú CORRECTO*/
 .navbar 
 {
   background: #37c4dd;
   }
 /* Fondo de menú  CORRECTO*/


 /* Nav no oculpa el carrusel */
nav{
  overflow: hidden;
}
 /* Nav no oculpa el carrusel */

 
