* body {
    background-color: rgb(0, 0, 0);
    
}
    /* TAMAÑO LOGO MENU */
    .svg {
      width: 30px;
      height: 30px;
        
  }
   /* TAMAÑO LOGO MENU */

     /* Fondo de menú CORRECTO*/
 .navbar 
 {
   background: #37c4dd;
   }
 /* Fondo de menú  CORRECTO*/


 /* Nav no oculpa el carrusel */
nav{
  overflow: hidden;
}
 /* Nav no oculpa el carrusel */

 
